<div class="col-xs-6 col-xs-offset-3">
  <div class="text-center">
    <h1>Restaurants Index</h1>
  </div>

  <div class="text-center">
    <%= link_to "Add a new restaurant", new_restaurant_path, class: 'btn btn-primary' %>
  </div>

  <ul class="list-group">
    <% @restaurants.each do |r| %>
    <li class="list-group-item">
      <h2>
        <%= r.name %>
      </h2>
      <p>
        Category: <%= r.category %>
      </p>
      <p>
        Address: <%= r.address %>
      </p>
      <p>
        Number: <%= r.phone_number %>
      </p>
      <div>
        <%= link_to "More info...", restaurant_path(r), class: 'btn btn-warning'%>
      </div>
    </li>
    <% end %>
  </ul>
</div>
